*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-light-cyan: hsl(193, 38%, 86%);
  --color-primary-neon-green: hsl(150, 100%, 66%);
  --color-neutral-grayish-blue: hsl(217, 19%, 38%);
  --color-neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --color-neutral-dark-blue: hsl(218, 23%, 16%);
  /* Quote desktop */
  --font-size-large: 1.75rem;
  /* Quote mobile */
  --font-size-regular: 1.5rem;
  /* id desktop */
  --font-size-small: 0.875rem;
  /* id desktop */
  --font-size-smaller: 0.75rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}
